<p style="color: green"><%= notice %></p>

<h1>Appointments</h1>

<div style="display:grid;grid-template-columns:repeat(3,340px);">
  <% @appointments.each do |appointment| %>
  <div class="card" style="width: 330px;padding:10px">
    <%= render appointment %>
    <p>
      <%= link_to "Show this appointment", appointment,class:"btn btn-secondary" %>
    </p>
    </div>
  <% end %>
</div>
<br/>
<%= link_to "New appointment", new_appointment_path ,class:"btn btn-secondary"%>
